body,
html {
    color: #666
}
h1 {
    color: #333
}
h2,
h3 {
    color: #fff;
    text-shadow: 0 1px 1px rgba(251, 251, 251, .5);
}
h4,
h5,
h6 {
    color: #333
}
p {
    color: #fff
}
.small_btn,
.small_btn:focus {
    background-color: #333;
    color: #fff
}
.small_btn:focus,
.small_btn:hover {
    color: #333;
    background-color: #e1e1e1
}
.sidebar-nav li {
    border-color: rgba(251, 251, 251, .1)
}
.sidebar-nav li a {
    color: #999
}
.sidebar-nav li a:hover {
    background: rgba(0, 0, 0, .2);
    color: #fff
}
#menu-toggle {
    color: #fff;
    background-color: rgba(0, 0, 0, .2)
}
#menu-toggle:hover {
    color: #fff
}
#menu-close {
    color: #fff;
    border: 1px solid #fff
}
#sidebar-wrapper.active {
    background: rgba(0, 0, 0, .9);
    border-left: 1px solid #333
}
.banner_timer ul li,
.banner_timer ul li span,
.lovestory_bottom_parallax h2,
.lovestory_bottom_parallax p,
.our_family_cont h2,
.our_family_cont h3,
.our_family_cont p,
.wedding_invitation h2,
.wedding_invitation p {
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .5)
}
.marriage_banner {
    background: url(../img/heart.png) repeat-x bottom;
    background-color: rgba(0, 0, 0, .2)
}
.marriage_banner h1 {
    color: #fff
}
.marriage_banner h3 {
    color: #FFF
}
.banner-line h2 {
    color: #fff;
    text-shadow: 0 0 0 transparent
}
.marriage_banner p {
    color: #FFF
}
.banner_timer ul li {
    color: #fff;
    background: rgb(255, 0, 255);
}
.logo_top,
.logo_top a,
.logo_top a:hover {
    color: #fff
}
.top_arrow a {
    color: #ffc4ff;
    background-color: rgb(255, 0, 255);
}
.top_arrow a:hover {
    background-color: rgb(255, 0, 255);
    color: #ffffff;
}
.top-scroll a {
    color: #333
}
.about_us {
    background-color: #ff00ff;
}
.about_us h1,
.about_us h2 {
    color: #fff;
    text-shadow: 0 1px 1px rgba(251, 251, 251, .5);
}
.about_us p {
    color: #333;
}
.about_bottom_bg {
    background: url(../img/heart.png) repeat-x bottom
}
.latest_sermons .bride .img img,
.latest_sermons .groom .img img {
    border: 10px solid #fff
}
.recent_sermons .image img {
    border: 5px solid #FFF
}
.recent_sermons .content {
    background: none repeat scroll 0 0 #FFF
}
.wedding_invitation {
    background: url(../img/wedding-invitation.jpg) no-repeat fixed center center / cover transparent;
    color: #FFF
}
.wedding_invitation_parallax {
    background: url(../img/heart.png) repeat-x top scroll rgba(0, 0, 0, .9)
}
.wedding_invitation_parallax h3 {
    color: #fff;
    text-shadow: 0 0 0 transparent
}
.wedding_invitation .thanks_cont p {
    color: #fff
}
.our_family_main {
    background-color: #f44482
}
.our_family_cont {
    background-color: rgba(244, 68, 130, .7)
}
.our_family_cont h3 {
    color: #333;
    text-shadow: 0 1px 1px rgba(251, 251, 251, .5)
}
.family_botom_parallax {
    background: none repeat scroll 0 0 rgba(0, 0, 0, .8)
}
.family_member img {
    border: 8px solid rgba(251, 251, 251, .3)
}
.family_member .hover-ef {
    background: rgba(0, 0, 0, .9)
}
.family_member:hover .hover-ef {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: all 300ms linear 0s;
    -webkit-transform: all 300ms linear 0s;
    -moz-transform: all 300ms linear 0s;
    -ms-transform: all 300ms linear 0s;
    display: block
}
.family_member h4,
.family_member p {
    color: #333;
    text-shadow: 0 1px 1px rgba(251, 251, 251, .5)
}
.family_member .social li a {
    color: #333;
    background: none repeat scroll 0 0 #f44482;
    text-shadow: 0 1px 1px rgba(251, 251, 251, .5)
}
.family_member.social li a:hover {
    color: #333;
    background: none repeat scroll 0 0 #CCC
}
.social li a {
    color: #FFF;
    background: none repeat scroll 0 0 #333
}
.social li a:hover {
    color: #333;
    background: none repeat scroll 0 0 #CCC
}
.family-tab-cont {
    background: url(../img/line.png) repeat-x center bottom
}
.family-tab-cont .tab-btns {
    background: url(../img/line.png) repeat-x center center
}
.family-tab-cont .tab-btns li a {
    border: 8px solid rgba(251, 251, 251, .3)
}
.family-tab-cont .tab-btns li a.active,
.family-tab-cont .tab-btns li a:hover {
    border: 8px solid rgba(251, 251, 251, .9)
}
.family-tab-cont .tab-btns li a.active .plus,
.family-tab-cont .tab-btns li a:hover .plus {
    text-shadow: 0 1px 1px rgba(251, 251, 251, .5);
    color: #333
}
.lovestory_parallax {
    background: url(../img/our-love-story.jpg) no-repeat fixed center center / cover transparent;
    color: #FFF
}
.lovestory_bottom_parallax {
    background: rgba(0, 0, 0, .9) url(../img/heart.png) repeat-x top
}
.lovestory_bottom_parallax h3 {
    color: #fff;
    text-shadow: 0 0 0 transparent
}
.lovestory_bottom_bg {
    background: url(../img/heart.png) repeat-x bottom
}
.lovestory_bottom_parallax .content_white {
    background-color: rgba(0, 0, 0, .3);
    color: #FFF
}
.gallery_outer {
    background-color: #f44482
}
.option-set li,
.option-set li a {
    color: #333
}
.option-set li a.selected,
.option-set li a:hover {
    background-color: #333
}
.blog_outer {
    background-color: #f44482
}
.blog_outer h3 {
    text-shadow: 0 1px 1px rgba(251, 251, 251, .5)
}
.rsvp_main {
    background: url(../img/location.jpg) no-repeat fixed center center / cover transparent
}
.rsvp_main p {
    color: #fff
}
.rsvp_main_parallax {
    background: url(../img/heart.png) repeat-x top rgba(0, 0, 0, .9)
}
.rsvp_bottom_bg {
    background: url(../img/heart.png) repeat-x bottom
}
.rsvp_main_parallax h2 {
    color: #fff;
    text-shadow: 0 0 0 transparent
}
.rsvp_main_parallax h4 {
    color: #fff
}
.rsvp_outer {
    background: none repeat scroll 0 0 #FFF
}
#rsvp-form hr {
    background: 0 0;
    border: 0;
    border-bottom: 1px solid rgba(251, 251, 251, .1)
}
.gift-logos {
    padding: 30px 0;
    margin: 20px 0 50px;
    list-style: none;
    background: rgba(251, 251, 251, .3)
}
.input_text_w {
    color: #999;
    background: rgba(251, 251, 251, .2)
}
.textarea_text_w {
    color: #999
}
.contact_address_cont {
    background: #ff00ff;
}
.contact_address,
.contact_address_cont p {
    color: #FFF
}
.contact_address i {
    color: #fff;
    text-shadow: 0 1px 1px rgba(251, 251, 251, .5);
}
.contact_address a {
    color: #FFF;
	text-decoration: none;
}
.contact_content {
    background: url(../img/parallax01.jpg) no-repeat fixed center center
}
.contact_content_parallax {
    background: #f44482
}
.contact_content_parallax h3 {
    color: #333
}
#contact-form {
    background: none repeat scroll 0 0 rgba(244, 68, 130, .8)
}
.input_text {
    background-color: rgba(0, 0, 0, .2);
    color: #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px
}
.input_text_w {
    border-color: rgba(0, 0, 0, .2)
}
.textarea_text {
    background-color: rgba(0, 0, 0, .2);
    color: #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px
}
.textarea_text_w {
    border-color: rgba(0, 0, 0, .2)
}
.input_text::input-placeholder,
.input_text:input-placeholder {
    color: #ccc;
    opacity: 1
}
.input_text:-webkit-input-placeholder {
    color: #ccc;
    opacity: 1
}
.input_text::-webkit-input-placeholder {
    color: #ccc;
    opacity: 1
}
.input_text:-moz-placeholder {
    color: #ccc;
    opacity: 1
}
.input_text::-moz-placeholder {
    color: #ccc;
    opacity: 1
}
.input_text:focus::input-placeholder,
.input_text:focus:input-placeholder {
    color: #ccc;
    opacity: 0
}
.input_text:focus:-webkit-input-placeholder {
    color: #ccc;
    opacity: 0
}
.input_text:focus::-webkit-input-placeholder {
    color: #ccc;
    opacity: 0
}
.input_text:focus:-moz-placeholder {
    color: #ccc;
    opacity: 0
}
.input_text:focus::-moz-placeholder {
    color: #ccc;
    opacity: 0
}
.textarea_text::input-placeholder,
.textarea_text:input-placeholder {
    color: #ccc;
    opacity: 1
}
.textarea_text:-webkit-input-placeholder {
    color: #ccc;
    opacity: 1
}
.textarea_text::-webkit-input-placeholder {
    color: #ccc;
    opacity: 1
}
.textarea_text:-moz-placeholder {
    color: #ccc;
    opacity: 1
}
.textarea_text::-moz-placeholder {
    color: #ccc;
    opacity: 1
}
.textarea_text:focus::input-placeholder,
.textarea_text:focus:input-placeholder {
    color: #ccc;
    opacity: 0
}
.textarea_text:focus:-webkit-input-placeholder {
    color: #ccc;
    opacity: 0
}
.textarea_text:focus::-webkit-input-placeholder {
    color: #ccc;
    opacity: 0
}
.textarea_text:focus:-moz-placeholder {
    color: #ccc;
    opacity: 0
}
.textarea_text:focus::-moz-placeholder {
    color: #ccc;
    opacity: 0
}
.input_text_w::input-placeholder,
.input_text_w:input-placeholder {
    color: #999;
    opacity: 1
}
.input_text_w:-webkit-input-placeholder {
    color: #999;
    opacity: 1
}
.input_text_w::-webkit-input-placeholder {
    color: #999;
    opacity: 1
}
.input_text_w:-moz-placeholder {
    color: #999;
    opacity: 1
}
.input_text_w::-moz-placeholder {
    color: #999;
    opacity: 1
}
.input_text_w:focus::input-placeholder,
.input_text_w:focus:input-placeholder {
    color: #999;
    opacity: 0
}
.input_text_w:focus:-webkit-input-placeholder {
    color: #999;
    opacity: 0
}
.input_text_w:focus::-webkit-input-placeholder {
    color: #999;
    opacity: 0
}
.input_text_w:focus:-moz-placeholder {
    color: #999;
    opacity: 0
}
.input_text_w:focus::-moz-placeholder {
    color: #999;
    opacity: 0
}
.input_button {
    background: none repeat scroll 0 0 rgba(0, 0, 0, .4);
    color: #CCC;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px
}
.input_button:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, .8);
    color: #CCC
}
.input_button_w {
    background-color: #f68985;
    color: #fff;
}
.input_button_w:hover {
    background-color: #ef9592;
    color: #fff;
}
.contact_message {
    color: red
}
#contact-form .error,
#rsvp-form .error {
    border: 1px solid red
}
#contact-error,
#rsvp-error {
    color: red
}
#contact-failed,
#contact-loading,
#contact-success {
    background-color: rgba(251, 251, 251, .3);
    color: red
}
footer {
    background: none repeat scroll 0 0 #101010;
    color: #797979
}
.footer_icons a {
    background: none repeat scroll 0 0 #333;
    color: #101010
}
.footer_icons a:hover {
    background-color: #FFF;
    color: #333
}
footer p {
    color: #fff;
}
